.homeContainer{
  text-align: center;
  background: #e6e7e8;
  background: -moz-radial-gradient(center, ellipse cover, #fff 0%, #e6e7e8 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #fff 0%, #e6e7e8 100%);
  background: radial-gradient(ellipse at center, #fff 0%, #e6e7e8 100%);
  color: #666;
}

.homeContainer .homeWrapper{
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.bolt-gradient{
  color: white;
  background: #383838;
  background: -webkit-linear-gradient(-45deg, #498DB5 0%, #8B599C 50%, #DC536E 100%);
  background: -moz-linear-gradient(-45deg, #498DB5 0%, #8B599C 50%, #DC536E 100%);
  background: linear-gradient(-45deg, #498DB5 0%, #8B599C 50%, #DC536E 100%);
}

.dark-background {
  background: #383838;
}

.mainContainer .productShowcaseSection .logos .logo-user {
  height: 100px;
  width: 300px;
}
